/*++

Copyright (c) 2011, Pankaj Garg (pankajgarg@intellectualheaven.com).
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright
   notice, this list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

--*/

#include "windows.h"
#include "ntverp.h"
#include "stver.h"

//
// StraceNT Serum DLL version resources
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION        STRACE_BIN_VERSION
 PRODUCTVERSION     STRACE_BIN_VERSION
 FILETYPE           0x00000001L
 FILESUBTYPE        0x00000006L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",     COMPANY_NAME
            VALUE "LegalCopyright",  LEGAL_COPYRIGHT
            VALUE "ProductName",     PRODUCT_NAME
            VALUE "ProductVersion",  ST_MAKE_STR(STRACE_STR_VERSION)
            VALUE "FileVersion",     ST_MAKE_STR(STRACE_STR_VERSION)
            VALUE "FileDescription", "StraceNt Code Patching Library\0"
            VALUE "OriginalFilename","stserum.dll\0"
            VALUE "InternalName",    "stserum.dll\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END



